/* Footer styles */
/* app.scss imports this file */

#footer-container {

	background:#555555;
	padding-top: 50px;

	h3, p {
		color: #FFF;
		letter-spacing: 1px;
	}

	p {
		font-weight:300;
		font-size: 0.9rem !important;
		margin-top:1rem;
	}

	a {
		color:#a1d2cd;
	}

	.hashtag {
		a {
			color:#BBB;
			font-weight:bold;
			text-decoration:none;
		}
		margin-top:0;
	}
}

@media #{$small-only} { 

	#footer-container {
		
	}
}

@media #{$medium-up} {

	#footer-container {
		
		padding: 35px 0 20px 0;
		

	}
}

@media #{$large-up} {
	#footer-container {

	}
	
}