#hero {
	background:$green;
	h1 {
		color: #fff;
		text-transform:uppercase;
		font-weight: 600;
		line-height: 1.375;
		letter-spacing: 6px;
		margin:2rem 0 2rem;
	}

}




@media #{$small-only} { 



}

@media #{$medium-up} { 



}

@media #{$large-up} {
	

}

@media #{$xlarge-up} {

}

@media #{$xxlarge-up} {


}